*{
    padding: 0px;
    margin: 0px;

    font-family: Inter;
}
nav{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 200px;
    padding-right: 200px;

    display: flex;
    justify-content: space-between;

    color: #343333;

    border-bottom: 1px solid #919191;
}

.topLink{
    padding: 20px;
}

.heroPara{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.heroPara h1{
    font-weight: 300;
    margin: 10px;
}

.heroPara h2{
    font-weight: 200;
    margin: 0px 0px 10px 0px;
}

.heroPara button{
    padding: 8px 12px 8px 12px;
    font-size: 17px;
    background-color: #387ED1;
    color: whitesmoke;
    box-shadow: none;
    border: 0;
    border-radius: 5px;
}