*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Noto Sans";
}

html,body{
    height: 100vh;
    width: 100vw;

   
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;

    /* margin: 20px 0px; */
    width: 100%;
    height: 10%;

    padding-bottom: 1%;
}

header p{
    font-size: 20px;
    font-weight: 800;
}


main{
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 85%;

    

    
}

#upper{
    height: 20%;
    width: 25%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    /* gap: 12px; */

    /* border: 2px solid black; */
    border-bottom: 2px solid rgb(218, 218, 218);
}

#upper div{
    width: 100%;
    height: 50%;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px dotted red; */
}

#upper div p{
    

    padding-top: 40px;
    font-size: 1.5em;
    font-weight: 700;
}



#upper div button{
    width: 100%;
    height: 60%;

    font-size: 1em;
    font-weight: 450;

    background-color: white;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

#upper div button{
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 10px;

    margin-top: 20px;

    cursor: pointer;
    transition: color 0.1s ease, background-color 0.3s ease;
    

}

#upper div button:hover{
    background-color: #1196e9;
    color: white;
}



#upper div button img{
    width: 30px;
    height: 30px;
}


#lower{

    margin-top: 15px;

    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    align-items: flex-start;

    gap: 10px;

    /* border: 2px solid black; */
}

.feild-text{
    font-weight: 450;
    margin-bottom: 3px;
}

#email-field{
    width: 100%;
    height: 20%;
}

#email-field input{
    width: 100%;
    height: 60%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

#password-field{
    width: 100%;
    height: 20%;
}

#password-field input{
    width: 100%;
    height: 60%;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 5px;
}

#sign-up-button{
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#sign-up-button button{
    width: 100%;
    height: 60%;

    border-radius: 5px;
    border: 0px;

    font-size: 1em;
    font-weight: 450;   

    cursor: pointer;
}

a{
    text-decoration: underline;
    color: black;
}



footer{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 5%;

    background-color: rgb(245, 245, 245);
}

footer p{
    font-size: 80%;
    color: rgb(105, 105, 105);
}

footer p span{
    text-decoration: underline;
}